<header >
    <!-- <div class="topBar global">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><i class="fa fa-phone"></i> +91-6362157344</li>
                        <li><i class="fa fa-envelope-open"></i> info@domain.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div class="mainMenu global hidden-xs"  data-spy="affix" data-offset-top="197">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav class="navbar">
              <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand"><img src="assets/images/logo.png" alt="SVM Exim Services" class="img-responsive" /></a>
                </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="slideInUp fadeInLeft bounceIn fadeInRight">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/Home">Home</a></li>
                    <li><a routerLink="/About Us">About Us</a></li>
                    <li><a routerLink="/Login">Login</a></li>
                    <li><a routerLink="/Gallery">Gallery</a></li>
                    <li><a routerLink="/Contact Us">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="mainMenu global visible-xs" data-spy="affix" data-offset-top="80">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav class="navbar">
              <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed navbar-hamburg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="SVM Exim Services" class="img-responsive" /></a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="slidingMenu slidingMenu_hide">          
      <div class="small6">
        <h4>MENU</h4>
      </div>
      <div class="small6">
        <a href="javascript:void(0)" class="closeMenu navbar-hamburg"><i class="fa fa-times"></i></a>
      </div>
      <div class="clearfix"></div>
      <ul class="nav navbar-nav navbar-right">
        <li ><a >Home</a></li>
        <li><a >About Us</a></li>
        <li><a >Login</a></li>
        <li><a >Gallery</a></li>
        <li><a >Contact Us</a></li>
      </ul>
    </div>
    <div class="menuOverlay"></div>
  </header>