<footer class="global">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget_text part-1">
                  <div class="textwidget custom-html-widget"><a class="navbar-brand" href="https:"><img src="assets/images/ye.png" alt="YoungEmpower" class="img-responsive"></a>
                      <p>
                          Young Empower connecting Urban-Rural India
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
              <h4>Company</h4>
              <div class="part-2">
                  <div class="menu-company-container">
                      <ul id="menu-company" class="menu">
                          <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="https:/">Blog</a></li>
                          <li id="menu-item-293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-293"><a href="">About Us</a></li>
                          <li id="menu-item-295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-295"><a href="">Solutions</a></li>
                          <li id="menu-item-294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-294"><a href="https://ze">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
              <h4>Categories</h4>
              <div class="part-3">
                  <div class="menu-categories-container">
                      <ul id="menu-categories" class="menu">
                         
                          
                          <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304"><a href="https:///">Mobile App Development</a></li>
                          <li id="menu-item-305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-305"><a href="https:///">Web Development</a></li>
                          
                          <li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307"><a href="https:///">Designing</a></li>
                          
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <h4>Have Questions?</h4>
              <div class="widget_text part-5">
                  <div class="textwidget custom-html-widget">
                      <div class="haveQuestion">
                          <h5> Call us 24/7</h5>
                          <p> <a href="tel:080 41220507">080 41220507 </a>(India)</p>
                          
                          <hr>
                          <p>
                              Email: <a href="mailto:info@youngempower.com">info@youngempower.com</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </footer>
  <div class="sub-footer">
  <div class="container">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <p>© Copy Rights 2019<span> youngempower Technologies</span> All rights reserved. </p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="pull-right">© Copy Rights 2019</p>
      </div>
  </div>
  </div>
  
  
  
  