<section class="parallax1 global"></section>
<section class="testimonials pt40 pb40 global">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitleCenter global">
          <h5>Why choose us</h5>
          <h2>Our Clients Sayings</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
            <li data-target="#myCarousel1" data-slide-to="3"></li>
          </ol>

                <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsImage global">
                    <img src="assets/images/photo.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsContent global">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsImage global">
                    <img src="assets/images/photo.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsContent global">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsImage global">
                    <img src="assets/images/photo.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsContent global">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsImage global">
                    <img src="assets/images/photo.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="testimonialsContent global">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
                          <!-- Left and right controls -->
          <a class="left carousel-control hide" href="" data-target="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control hide" href="" data-target="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>  
  </div>          
</section>