<app-header></app-header>

    <section class="pageHeader global">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>About Us</h1>
                    <ul>
                        <li><a >Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <app-aboutus></app-aboutus>

    <app-expertarea></app-expertarea>

    <section class="teamMembers pt40 pb40 global">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sectionTitleCenter global">
                        <h5>Why choose us</h5>
                        <h2>Team Members</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-sm-3 col-xs-12">
                    <div class="singleMember">
                        <div class="singleImage">
                            <img src="assets/images/person.jpg" alt="" class="img-responsive"/>
                            <div class="socialMediaBtn">
                                <ul>
                                    <li><a href="#"><i class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="singleText">
                            <h2>Person Name</h2>
                            <h4>Person Designation</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="singleMember">
                        <div class="singleImage">
                            <img src="assets/images/person.jpg" alt="" class="img-responsive"/>
                            <div class="socialMediaBtn">
                                <ul>
                                    <li><a href="#"><i class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="singleText">
                            <h2>Person Name</h2>
                            <h4>Person Designation</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="singleMember">
                        <div class="singleImage">
                            <img src="assets/images/person.jpg" alt="" class="img-responsive"/>
                            <div class="socialMediaBtn">
                                <ul>
                                    <li><a href="#"><i class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="singleText">
                            <h2>Person Name</h2>
                            <h4>Person Designation</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="singleMember">
                        <div class="singleImage">
                            <img src="assets/images/person.jpg" alt="" class="img-responsive"/>
                            <div class="socialMediaBtn">
                                <ul>
                                    <li><a href="#"><i class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="ion ion-social-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="singleText">
                            <h2>Person Name</h2>
                            <h4>Person Designation</h4>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    
    
<app-mailbox></app-mailbox>
<!-- <app-footer></app-footer> -->