<app-customer-header></app-customer-header>
<br>
<br>
<mat-card class="card">
    <mat-card-header>  
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-3">
        <button mat-stroked-button color="primary">Order_ID:LET_ORD1234567890</button>
        <img src="../../../assets/images/chk4.jpg">
        </div>
      <div class="col-sm-3">
          <h4>Chicken Leg Piece</h4>
          <h6>Quantity: 1 kg</h6>
          <h6>Quality: A Quality</h6>
      </div>
      <div class="col-sm-3">
        <h5>Retialer:Suguna Chicken</h5>
         <a>Rate and Review the Product</a>     
      </div>
      <div class="col-sm-3">
          <h5>Total Amount:200:00</h5>
          <h5>Order Date: 06-05-2019</h5>
      </div>
    </div>
    </mat-card-content>
    <button class="trackButton" mat-raised-button color="primary"><b>Track</b></button>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>