<app-nav></app-nav>
<div class="container-fluid page-body-wrapper">

  <app-sidenav></app-sidenav>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="x_panel tableborder tableHeader">
          <h2 style="text-align: center">Cancellation Charges</h2>
        </div>
        <div class="x_panel" id="myDIV">
          <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search" >
            <div class="input-group">
              <input type="text"  class="form-control1 " [(ngModel)]="cancelsearch" placeholder="Search for..." aria-invalid="false">
              <span class="input-group-btn"></span>
              <button class="btn1 btn-default tableHeader" type="button" style="color: white; float: right;">Search!</button>
            </div> 
          </div>
          <button type="button" class="btn-round btn1 tableButton"style="border-radius: 30px;" routerLink="/addcan"> Add </button>
          <div class="clearfix"></div>
          <div class="table-responsive tableborder">
            <table class="table table-bordered">
              <thead class="tableHeader text-center">
                <tr>
                  <th style="font-size:150%; text-align: center;"> Id </th>
                  <th style="font-size:150%; text-align: center;"> Country</th>
                  <th style="font-size:150%; text-align: center;"> State </th>
                  <th style="font-size:150%; text-align: center;"> City </th>
                  <th style="font-size:150%; text-align: center;"> Min Cancellation charges </th>
                  <th style="font-size:150%; text-align: center;"> Cancellation charges After 15(min) </th>
                
                  <th style="font-size:150%; text-align: center;"> Action </th>
                </tr>
              </thead>
              <tbody class="tableContents">
                <tr  *ngFor="let cancel of cancels | async|filter:cancelsearch|paginate: { itemsPerPage: 5, currentPage: p }">
                  <td >{{cancel.id}}</td>
                  <td>{{cancel.country}}</td>
                  <td>{{cancel.state}}</td>
                  <td>{{cancel.city}}</td>
                  <td>{{cancel.minCancelCharges}}</td>
                  <td>{{cancel.cancelChargesAfter15min}}</td>
                  <td>
                    <button type="button"  class="btn-warning  fa fa-pencil" data-toggle="modal" data-target="#myModal" style=" width:35px;height:30px; "(click)='editCancel(cancel)' ></button>
                    <button type="button"  class="btn-danger fa fa-trash" style=" width:35px;height:30px;" (click)='deleteCancel(cancel.id)'></button>
                  </td>
                </tr>
              </tbody>
            
            
            </table>
            <br>

            <p style="margin-left: 40%;" ><pagination-controls  class="myPagination"
              previousLabel="Previous"
                nextLabel="Next"
          (pageChange)="p = $event" maxSize="4">
        </pagination-controls></p>     

        
             
            <div class="modal fade" id="myModal" role="dialog" ng-show=" loginDisable" aria-hidden="false">
              <div class="modal-dialog">  
                <div style="margin-top: 95px;" class="modal-content">
                  <div class="modal-header">
                    <h4>Update Cancellation fees</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <div class="modal-body">
                    <div class="x_content">
                      <br>
                      <form data-parsley-validate="" class="form-horizontal form-label-left " (ngSubmit)="onSubmit()" >
                      <div class="form-group">
                      <p class="control-label col-md-4 col-sm-3 col-xs-12"> Country </p>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="registration form-control2 col-md-7 col-xs-12 " name="Country" [(ngModel)]="pcancel.country"  (change)="getCountry(pcancel.country)">
                          <option [ngValue]="undefined" disabled class="sel">Select Country</option>  
                          <option  *ngFor="let country of country1"  [ngValue]="country">{{country.name}}</option>
                        </select>
                        <!-- <input  type="text"  class="registration form-control2 col-md-7 col-xs-12 "  [(ngModel)]="pcancel.country" name="country"  > -->
                      </div>
                    </div>
                  <div class="form-group">
                    <p class="control-label col-md-4 col-sm-3 col-xs-12"> State </p>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="registration form-control2 col-md-7 col-xs-12 " name="State" [(ngModel)]="pcancel.state"  (change)="getState(pcancel.state)">
                        <option [ngValue]="undefined" disabled class="sel">Select State</option>  
                        <option  *ngFor="let state of selectedStates"  [ngValue]="state">{{state.name}}</option>
                      </select>
                      <!-- <input  type="text"  class="registration form-control2 col-md-7 col-xs-12 "  [(ngModel)]="pcancel.state" name="state"  > -->
                    </div>
                  </div>
                <div class="form-group">
                  <p class="control-label col-md-4 col-sm-3 col-xs-12"> City </p>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="registration form-control2 col-md-7 col-xs-12 " name="City" [(ngModel)]="pcancel.city">
                      <option [ngValue]="undefined" disabled class="sel" >Select City</option>  
                      <option  *ngFor="let city of selectedCities"  [ngValue]="city.name">{{city.name}}</option>
                    </select>
                    <!-- <input  type="text"  class="registration form-control2 col-md-7 col-xs-12 "  [(ngModel)]="pcancel.city" name="city"  > -->
                  </div>
                </div>
                <div class="form-group">
                  <p class="control-label col-md-4 col-sm-3 col-xs-12">Min Cancellation charges </p>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  type="text"  class="registration form-control2 col-md-7 col-xs-12 "  [(ngModel)]="pcancel.minCancelCharges" name="mincancelcharges"  >
                  </div>
                </div>
                <div class="form-group">
                  <p class="control-label col-md-4 col-sm-3 col-xs-12">Cancellation charges After 15(min) </p>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input  type="text"  class="registration form-control2 col-md-7 col-xs-12 "  [(ngModel)]="pcancel.cancelChargesAfter15min" name="cancelchargesafter15min"  >
                  </div>
                </div>
                <div class="form-group">
              <div class="col-md-12 col-xs-12 col-md-offset-3">
                <button style="border-radius: 30px;" class="btn-round btn1 tableButton" data-dismiss="modal" type="button">Cancel</button>
                <button style="border-radius: 30px;" class="btn1 btn-round btn-warning" type="reset">Reset</button>
                <button style="border-radius: 30px;" type="submit" class="btn1 btn-round btn-success" >Submit
                  <span class="glyphicon glyphicon-log-in"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


