<section class="company pt40 pb40 global">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12"></div>
        <div class="col-sm-6 col-xs-12">
          <div class="sectionTitleRight global">
            <h3>About Us</h3>
          </div>
          <p>Livestock E-Platform (LET) is a cutting edge technological solution for livestock marketing through connecting all the stakeholders involved in the value chain through mobile and web based application to provide real time marketing facilities through improved efficiencies in the following supply chain activities;Connecting producers and consumers
                Connecting breeders, producers, trainers etc,Transparent process of billing & payment,Information on producers, consumers, prices, exporters etc,Matching supply and demand,Safety and certification,Value addition,Online marketing and delivery of products.</p>
          <img src="assets/images/signature.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </section>
