<app-customer-header></app-customer-header>


<mat-card class="firstMaincard">
        <h2 style="color:black">A Quality Mutton</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%"> Mixed Pieces </h4>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/curry-pieces.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Chops</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/muttonchops.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
               
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Nalli</h4>
        
                        <mat-card class="card text-center">
        
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton_nalli.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Keema</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton-keema.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Shoulder Piece</h4>
        
                        <mat-card class="card text-center">
        
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/Mutton_Shoulder.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 300.00 - 500 gms</span>
                        </p>
                </div>
      
              
      
              
      
                
        </div>
      </mat-card>

      <mat-card class="secondMaincard">
        <h2 style="color:black">B Quality Mutton</h2>
        <br>
        <div class="row no-gutters">
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%"> Mixed Pieces </h4>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/curry-pieces.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Chops</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/muttonchops.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mixed Boneless</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton_bonless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 420.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Keema</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton-keema.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
      
        </div>
      </mat-card>

      <mat-card class="thirdMaincard">
        <h2 style="color:black">C Quality Mutton</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Shoulder Boneless</h4>
        
                        <mat-card class="card text-center">
        
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton-shoulder-boneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 440.00 - 500 gms </span>
                        </p>
                </div>
        
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Shoulder Piece</h4>
        
                        <mat-card class="card text-center">
        
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/Mutton_Shoulder.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 300.00 - 500 gms</span>
                        </p>
                </div>
        
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Nalli</h4>
        
                        <mat-card class="card text-center">
        
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton_nalli.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
        
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%"> Mixed Pieces </h4>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/curry-pieces.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Chops</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/muttonchops.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mixed Boneless</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton_bonless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 420.00 - 500 gms</span>
                        </p>
                </div>
      
                
        </div>
      </mat-card>

      
<mat-card class="fourthMaincard">
        <h2 style="color:black">Normal Price Mutton</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%"> Mixed Pieces </h4>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/curry-pieces.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Chops</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/muttonchops.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mixed Boneless</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton_bonless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 420.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Keema</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/mutton-keema.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Shoulder Boneless</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="../../../assets/images/Mutton/mutton-shoulder-boneless.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 440.00 - 500 gms </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Shoulder Piece</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="../../../assets/images/Mutton/Mutton_Shoulder.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 300.00 - 500 gms</span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Mutton Nalli</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="../../../assets/images/Mutton/mutton_nalli.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms</span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Mutton Baby Leg</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="../../../assets/images/Mutton/mutton-leg1.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 610.00 - 1Kg </span>
                      </p>
              </div>
      
      
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Leg Piece</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/muttonlegpiece.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 620.00 - 1Kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Mutton Liver</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="../../../assets/images/Mutton/Liver.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 - 500 gms </span>
                        </p>
                </div>
      
               
                
        </div>
      </mat-card>
<app-customer-footer></app-customer-footer>

