<app-header></app-header>
<section class="categories pt40 pb40 global">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitleCenter global">
          <h5>Category</h5>
                  <!-- <h2>Get benifits and advantages</h2> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/sheep.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Sheep <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/goat.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Goat <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/hen.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Chicken <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/pig.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Pig <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/cow.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Cow <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="categorySingle global">
          <div class="categoryImage global">
            <img src="assets/images/Buffalo.jpg" alt="" class="img-responsive" />
          </div>
          <div class="categoryTitle global">
            <a href="#">Buffalo <br/></a>
          </div>
          <div class="categoryOverlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->