<app-customer-header></app-customer-header>
<mat-card class="firstMaincard">
        <h2 style="color:black">Fresh Chicken<button class="viewButton" mat-raised-button color="primary">View All</button></h2>
        <br>
        <div class="row no-gutters">


                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">A Quality</h4>

                        <mat-card class="card text-center">

                                <a routerLink="/normal-chicken" routerLinkActive="active"><mat-card-content>
                                        <img src="assets\images\skinless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content></a>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 250.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">B Quality</h4>

                        <mat-card class="card text-center">
                                <!-- <mat-card-header> -->
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <!-- <mat-card-title>C Quality</mat-card-title> -->
                                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                                <mat-card-content>
                                        <img src="assets\images\chk5.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                <!-- </mat-card-header> -->
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 200.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">C Quality</h4>

                        <mat-card class="card text-center">
                                <!-- <mat-card-header> -->
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <!-- <mat-card-title>C Quality</mat-card-title> -->
                                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                                <mat-card-content>
                                        <img src="assets\images\chk4.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                <!-- </mat-card-header> -->
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 150.00 Per KG </span>
                        </p>
                </div>

                
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Normal Price</h4>

                        <mat-card class="card text-center">
                                <a routerLink="/normal-chicken" routerLinkActive="active"><mat-card-content>
                                        <img src="assets\images\legPiece.jpg" style="width:100%;height: 100%;">
                                </mat-card-content></a>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 180.00 Per KG </span>
                        </p>
                </div>
        </div>
</mat-card>
<br>
<!-- Second Card -->
<mat-card class="secondMaincard">

        <h2 style="color:black">Fresh Mutton <button class="viewButton" mat-raised-button
                        color="primary">View All</button></h2>
        <br>
        <div class="row no-gutters">

               

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">A Quality</h4>

                        <mat-card class="card text-center">
                                <a routerLink="/mutton" routerLinkActive="active">
                                <mat-card-content>
                                        <img src="assets\images\mtn.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                </a>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 480.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">B Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\mutton2.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 380.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">C Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\mttn.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 330.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Normal Price</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\mutton.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 420.00 Per KG </span>
                        </p>
                </div>
        </div>
</mat-card>
<br>
<!-- Third Card -->
<!-- <mat-card class="thirdMaincard">
        <h2 style="color:black"> Sea Food <button class="viewButton" mat-raised-button
                        color="primary">View All</button></h2>
        <br>

        <div class="row no-gutters">

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Normal Price</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\1.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 280.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">A Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\2.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 350.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">B Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\3.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 310.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">C Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\4.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 240.00 Per KG </span>
                        </p>
                </div>
        </div>
</mat-card> -->
<br>
<!-- Fourth Card -->
<mat-card class="fourthMaincard">
        <h2 style="color:black"> Pork <button class="viewButton" mat-raised-button color="primary">View
                        All</button></h2>

        <div class="row no-gutters">

                

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">A Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\12.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 450.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">B Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\13.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 400.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">C Quality</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\14.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 320.00 Per KG </span>
                        </p>
                </div>

                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Normal Price</h4>

                        <mat-card class="card text-center">

                                <mat-card-content>
                                        <img src="assets\images\11.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 350.00 Per KG </span>
                        </p>
                </div>
        </div>
</mat-card>
