<app-nav></app-nav>
<div class="container-fluid page-body-wrapper">
  <app-tpsidenav></app-tpsidenav>
  <div class="main-panel">
    <div class="content-wrapper">
        <div class="x_panel tableborder tableHeader ">
        
            <br>
  
          <h3 style="text-align: center">
              Retailers management Details
          </h3>
  </div>
  <div class="x_panel" id="myDIV">
    <div class="col-xs-12">
        <!-- <table>
            <tr *ngFor="let collect of collections">
            <td>{{collect.companyname}}</td>
          
            <td>{{collect.mobilenum}}</td>
            <td>{{collect.emailid}}</td>
            <td>{{collect.yearofcontract}}</td>
            </tr>
          </table> -->
             <div *ngFor="let retail of retailers">
                <label>Company Name:</label>
                 {{retail.companyname}}
                 <br>
                 <label>Gender:</label>
                 {{retail.gender}}
                 <br>
                 <label>Country:</label>
                 {{retail.country}}
                 <br>
                 <label>State:</label>
                 {{retail.state}}
                 <br>
                 <label>City:</label>
                 {{retail.city}}
                 <br>
                 <label>Mobile Number:</label>
                 {{retail.mobilenum}}
                 <br>
                 <label>Alternative Number:</label>
                 {{retail.alternativenum}}

                 <br>
                 <label>Year Of Contract:</label>
                 {{retail.yearofcontract}}
                 <br>
                 <label>Email Id:</label>
                 {{retail.emailid}}
                 <br>
                 <label>Password:</label>
                 {{retail.password}}

                 <br>
                 <label>PinCode:</label>
                 {{retail.pincode}}
                 <br>
                 <label>Licence Number:</label>
                 {{retail.licencenumber}}
                 <br>
                 <label>Proprietor Name:</label>
                 {{retail.proprietorname}}

                 <br>
                 <label>GST Number:</label>
                 {{retail.gstnumber}}
                 <br>
                 <label>Active:</label>
                 {{retail.active}}

             </div>

        <!-- </div> -->
</div>
</div>
</div>
</div>
