    
    <footer class="global">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <br>
                    <div class="widget_text part-1">
                        <div class="textwidget custom-html-widget"><a class="navbar-brand" href="https:"><img src="assets/images/logo.png" alt="youngempower" class="img-responsive"></a>
                            <p>
                              Young Empower connecting Urban-Rural India
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <br>
                    <h4 style="color: white;">Company</h4>
                    <div class="part-2">
                        <div class="menu-company-container" style="color: white;">
                            <ul id="menu-company" class="menu" style="list-style:none">
                                <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="https://zerozilla.com/blog/blog/" style="color: #CCC;">Blog</a></li>
                                <li id="menu-item-293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-293"><a href="https://zerozilla.com/best-software-company-in-bangalore/" style="color: #CCC;">About Us</a></li>
                                <li id="menu-item-295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-295"><a href="https://zerozilla.com/solution/" style="color: #CCC;">Solutions</a></li>
                                <li id="menu-item-294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-294"><a href="https://zerozilla.com/contact-us/" style="color: #CCC;">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <br>
                    <h4 style="color: white;">Categories</h4>
                    <div class="part-3">
                        <div class="menu-categories-container" >
                            <ul id="menu-categories" class="menu"  style="color: white;list-style:none;">
                                <!-- <li id="menu-item-296" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-296"><a href="https://zerozilla.com/blog/category/digital-marketing/">Digital Marketing</a></li>
                                <li id="menu-item-297" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-297"><a href="https://zerozilla.com/blog/category/internet-of-things/">Internet of Things</a></li>
                                <li id="menu-item-298" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-298"><a href="https://zerozilla.com/blog/category/lead-generation/">Lead Generation</a></li> -->
                                <li id="menu-item-299" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-299"><a href="https://zerozilla.com/blog/category/mobile-app-development/" style="color: #CCC;">Mobile App Development</a></li>
                                <li id="menu-item-301" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-301"><a href="https://zerozilla.com/blog/category/web-design/"  style="color: #CCC;">Web Design</a></li>
                                <li id="menu-item-302" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-302"><a href="https://zerozilla.com/blog/category/web-development/" style="color: #CCC;">Web development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <br>
                    <h4 style="color: white;">Services</h4>
                    <div class="part-4" >
                        <div class="menu-services-container"  >
                            <ul id="menu-services" class="menu" style="color: #CCC;list-style:none;">
                                <!-- <li id="menu-item-303" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-303"><a href="https://zerozilla.com/categories/digital-marketing-services-in-bangalore/">Digital Marketing</a></li> -->
                                <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304"><a href="https://zerozilla.com/categories/mobile-app-development/" style="color: #CCC;">Mobile App Development</a></li>
                                <li id="menu-item-305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-305"><a href="https://zerozilla.com/categories/web-development/" style="color: #CCC;">Web Development</a></li>
                                <!-- <li id="menu-item-306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-306"><a href="https://zerozilla.com/categories/hosting/">Hosting</a></li> -->
                                <li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307"><a href="https://zerozilla.com/categories/designing/" style="color: #CCC;">Designing</a></li>
                                <!-- <li id="menu-item-308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-308"><a href="https://zerozilla.com/branding-solution/">Digital Branding Solution</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <br>
                    <h4 style="color: white;">Have Questions?</h4>
                    <div class="widget_text part-5">
                        <div class="textwidget custom-html-widget">
                            <div class="haveQuestion">
                                <h5 style="color: white;">
    Call us 24/7
    </h5>
                                <p> <a href="tel:080 41220507" style="color: #CCC;">080 41220507 </a>(India)</p>
                                <!-- <p><a href="tel:+1 (913) 723-1514">+1 (913) 723-1514</a> (USA)</p>
                                <p><a href="tel:4917636720380">4917636720380</a> (DE)</p> -->
                                <hr>
                                <p>
                                    Email: <a href="mailto:info@youngempower.com" style="color: #CCC;">info@youngempower.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    