<section class="expertiseArea pt40 pb40 global">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="sectionTitleCenter global">
            <h5>Why choose us</h5>
            <h2>Expertise Area</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="expretiseBox">
            <i class="ion ion-ios-home-outline"></i>
            <h4>Expertise Area 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing alaelit, sed do eiusmod tempor dulabore et</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="expretiseBox">
            <i class="ion ion-ios-analytics-outline"></i>
            <h4>Expertise Area 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing alaelit, sed do eiusmod tempor dulabore et</p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="expretiseBox">
            <i class="ion ion-ios-speedometer-outline"></i>
            <h4>Expertise Area 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing alaelit, sed do eiusmod tempor dulabore et</p>
          </div>
        </div>
      </div>
    </div>
  </section>