<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Marketing</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
       </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mark">
        <i class="menu-icon mdi mdi-television"></i>
          <span class="menu-title ccolor">Marketing Dashboard</span>
      </a>
    </li>
    
          <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/marlist" aria-expanded="false" aria-controls="ui-basic1">
        <i class="menu-icon mdi mdi-library-books"></i> 
        <span class="menu-title"><div class="ccolor">Marketing</div></span>
        
      </a>
     
    </li> 
    </ul>
 </nav>