<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Admin</p>
            <div>
              <small class="designation text-muted">Owner</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Dash">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title"routerLink="/Dash">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth1">
        <i class="menu-icon fa fa-credit-card"></i>
        <span class="menu-title">General</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/blist"> Bank </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rlist">Role Permission </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vlist">Vehicle Category</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon fa fa-spinner"></i>
        <span class="menu-title">Tieups</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link"  href="#ui-basic1" data-toggle="collapse"  aria-expanded="false" aria-controls="ui-basic1">
              <i class="menu-icon mdi fa-institution"></i>
              <span class="menu-title">Collection Center</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link">  Locations </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">  Employee Managment  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"> Collection Center Managment </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">Retailers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link">Locations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Employee Managment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" > Retailer Managment </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" > Transportation </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" > Insurance </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" > Certifcation </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth2" aria-expanded="false" aria-controls="auth2">
        <i class="menu-icon fa fa-credit-card"></i>
        <span class="menu-title">Price Estimation</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Catolog"> Catolog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Stprice"> stock Price </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Cancel"> Cancellation Fares </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>