<app-customer-header></app-customer-header>


<mat-card class="firstMaincard">
        <h2 style="color:black">A Quality Chicken</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%"> Cut Pieces </h4>
      
                        <mat-card class="card text-center">
                                        <a routerLink="/Orders" routerLinkActive="active">                                <mat-card-content>
                                        <img src="assets\images\cutPieces.png" style="width:100%;height: 100%;">
                                </mat-card-content>
                                </a>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 130.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Boneless breast</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\boneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 500 gms </span>
                        </p>
                </div>
      
               
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Minced Keema</h4>
      
                        <mat-card class="card text-center">
                                <!-- <mat-card-header> -->
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <!-- <mat-card-title>C Quality</mat-card-title> -->
                                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                                <mat-card-content>
                                        <img src="assets\images\minced.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                <!-- </mat-card-header> -->
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 195.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Leg Pieces</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\legPiece.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 150.00 - 500 gms </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Drumsticks</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\drumstick.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 160.00 - 500 gms</span>
                      </p>
              </div>
      
              
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Wings with skin</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\wings.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 120.00 - 500 gms </span>
                      </p>
              </div>
      
      
      
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken skinless</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\skinless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 1Kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken with Skin</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\withSkin.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 200.00 - 1kg </span>
                        </p>
                </div>
      
                
        </div>
      </mat-card>

      <mat-card class="secondMaincard">
        <h2 style="color:black">B Quality Chicken</h2>
        <br>
        <div class="row no-gutters">
      
                
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Boneless breast</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\boneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Leg boneless</h4>
      
                        <mat-card class="card text-center">
                              
                                <mat-card-content>
                                        <img src="assets\images\legBoneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Minced Keema</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="assets\images\minced.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 195.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Leg Pieces</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\legPiece.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 150.00 - 500 gms </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Drumsticks</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\drumstick.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 160.00 - 500 gms</span>
                      </p>
              </div>
      
            
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken skinless</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\skinless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 1Kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken with Skin</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\withSkin.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 200.00 - 1kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Desi Chicken</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\desi.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 700.00 </span>
                        </p>
                </div>
        </div>
      </mat-card>

      <mat-card class="thirdMaincard">
        <h2 style="color:black">C Quality Chicken</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <a routerLink="normal-chicken" routerLinkActive="active"><h4 style="margin-left: 30%"> Cut Pieces </h4></a>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="assets\images\cutPieces.png" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 130.00 - 500 gms</span>
                        </p>
                </div>
      
      
               
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Minced Keema</h4>
      
                        <mat-card class="card text-center">
                               
                                <mat-card-content>
                                        <img src="assets\images\minced.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 195.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Leg Pieces</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\legPiece.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 150.00 - 500 gms </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Drumsticks</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\drumstick.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 160.00 - 500 gms</span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Liver</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\liver.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 100.00 </span>
                      </p>
              </div>
      
             
      
      
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken skinless</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\skinless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 1Kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken with Skin</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\withSkin.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 200.00 - 1kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Desi Chicken</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\desi.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 700.00 </span>
                        </p>
                </div>
        </div>
      </mat-card>

      
<mat-card class="firstMaincard">
        <h2 style="color:black">Normal Price Chicken</h2>
        <br>
        <div class="row no-gutters">
      
                <div class="col-sm-3">
                        <a routerLink="normal-chicken" routerLinkActive="active"><h4 style="margin-left: 30%"> Cut Pieces </h4></a>
      
                        <mat-card class="card text-center">
                                <mat-card-content>
                                        <img src="assets\images\cutPieces.png" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 130.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Boneless breast</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\boneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Leg boneless</h4>
      
                        <mat-card class="card text-center">
                                <!-- <mat-card-header> -->
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <!-- <mat-card-title>C Quality</mat-card-title> -->
                                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                                <mat-card-content>
                                        <img src="assets\images\legBoneless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                <!-- </mat-card-header> -->
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 500 gms</span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Minced Keema</h4>
      
                        <mat-card class="card text-center">
                                <!-- <mat-card-header> -->
                                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                <!-- <mat-card-title>C Quality</mat-card-title> -->
                                <!-- <mat-card-subtitle></mat-card-subtitle> -->
                                <mat-card-content>
                                        <img src="assets\images\minced.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                                <!-- </mat-card-header> -->
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 195.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Leg Pieces</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\legPiece.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 150.00 - 500 gms </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Drumsticks</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\drumstick.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 160.00 - 500 gms</span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Liver</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\liver.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 100.00 </span>
                      </p>
              </div>
      
              <div class="col-sm-3">
                      <h4 style="margin-left: 30%">Wings with skin</h4>
      
                      <mat-card class="card text-center">
      
                              <mat-card-content>
                                      <img src="assets\images\wings.jpg" style="width:100%;height: 100%;">
                              </mat-card-content>
                      </mat-card>
                      <p>
                              <i class="fa fa-inr"></i><span class="price"> 120.00 - 500 gms </span>
                      </p>
              </div>
      
      
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Gizzard</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\gizzard.png" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 95.00 - 500 gms </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken skinless</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\skinless.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 220.00 - 1Kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Chicken with Skin</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\withSkin.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 200.00 - 1kg </span>
                        </p>
                </div>
      
                <div class="col-sm-3">
                        <h4 style="margin-left: 30%">Desi Chicken</h4>
      
                        <mat-card class="card text-center">
      
                                <mat-card-content>
                                        <img src="assets\images\desi.jpg" style="width:100%;height: 100%;">
                                </mat-card-content>
                        </mat-card>
                        <p>
                                <i class="fa fa-inr"></i><span class="price"> 700.00 </span>
                        </p>
                </div>
        </div>
      </mat-card>
